.user-list h1{
  font-size: 30px;
  font-family: "Quicksand";
  padding-top: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 2px solid #ababab;
}

body {
  background-color: #e5e3e6;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.list {
  list-style: none;
  text-align: left;
}

.list-item {
  background-color: white;
  margin: 8px;
  padding: 1px;
  border-radius: 20px;
  height: 50px;
}

.list-item a {
  font-size: 20px;
  text-decoration: none;
  color: #1c2022;
}

.list-item h4 {
  padding-left: 0%;
  margin: 10px;
  margin-left: 5px;
  width: 150px;
}

.list-item p {
  color: #ababab;
  margin-top: 13px;
  margin-right: 15px;
}

.flex {
  display: flex;
}

.flex button {
  margin:auto;
  background-color: initial;
  background-image: linear-gradient(-180deg, #4eaefc, #0300bd);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  margin-top: 5.5px;
  text-align: center;
  touch-action: manipulation;
  width: 20%;
  z-index: 9;
  border: 0;
}

.flex button:hover {
  background: #a8aae9;
}