.create {
  max-width: 400px;
  margin: 0 auto;
}
.create label {
  margin-top: 15px;
  font-size: large;
  text-align: left;
  display: block;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 25px;
}
.create textarea {
  max-width: 400px;
  min-width: 400px;
  min-height: 300px;
}
.create button {
  margin-top: 15px;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}