body {
  background-color: #e5e3e6;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 40%;
}

.list {
  list-style: none;
  text-align: left;
}

.list-item {
  background-color: white;
  margin: 8px;
  padding: 1px;
  border-radius: 2px;
  height: 50px;
}

.list-item a {
  font-size: 20px;
  text-decoration: none;
  color: #1c2022;
}

.list-item h4 {
  padding-left: 5%;
  margin:auto;
}

.user-list h1{
  font-size: xx-large;
}