body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button {
  background-color: #555555;
  color: white;
  height: 20px;
  width: 50px;
  margin: 16px;
}
/* footerを画面下部に固定 */
footer{
  position: fixed;
  width:100%;
  height:56px;
  bottom:0;
  text-align:center;
  z-index: 1000;
}