@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fff; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button {
  background-color: #555555;
  color: white;
  height: 20px;
  width: 50px;
  margin: 16px;
}
/* footerを画面下部に固定 */
footer{
  position: fixed;
  width:100%;
  height:50px;
  bottom:0;
}

/* homeの左側 */
.home-title{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  top: 15%;
  left: 3cap;
  transform: translate(-30%,-50%);
  font-size: 100px;
  color:#fff;
  margin:0;
}

.items {
  text-decoration: none;
  color: black;
}